<footer>
    <!--<script>
        (function() { 
        var d = document, s = d.createElement('script');
        s.src = 'https://khavitidala.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
    </script>
    <div class="circle" style="background-color: rgb(129, 6, 123);"></div>
    <div class="circle" style="background-color: rgb(255, 252, 57);"></div>
    <div class="circle" style="background-color: rgb(223, 35, 35);"></div>
    <div class="circle" style="background-color: rgb(23, 93, 223);"></div>
    <div class="circle" style="background-color: rgb(129, 6, 123);"></div>
-->
    <div class="circl" style="background-color: rgb(129, 6, 123); width: 15%;"></div>
    <div class="circl" style="background-color: rgb(255, 252, 57);width: 30%;"></div>
    <div class="circl" style="background-color: rgb(223, 35, 35);width: 25%;"></div>
    <div class="circl" style="background-color: rgb(23, 93, 223);width: 20%;"></div>
    <div class="circl" style="background-color: rgb(129, 6, 123);width: 10%;"></div>
</footer>