<script>
function tampil() {
    if (document.getElementById("cari").style.display=="none") {
        document.getElementById("cari").style.display="block";
        document.getElementsByName("nyari").innerHTML="Batal Mencari";
    } else {
        document.getElementById("cari").style.display="none";

    }
}
function panjangLayar() {
    document.getElementsByClassName("kepala").style.height=screen.availHeight;
}
</script>
<div id="cari">
    <script async src="https://cse.google.com/cse.js?cx=017547081945986719728:tyoyjbvdc34"></script>
    <div class="gcse-search"></div>
    <!--<form action="" method="GET">
    <input type="text" placeholder="Cari...">
</form>-->
</div>
<div class="kepala">
<div class="navi">
    <a href="{{ site.url | absolute_url }}">Beranda</a>
    <a href="#">Tentang</a>
    <a href="#">Kategori</a>
    <a style="cursor: pointer;" onclick="tampil()" name="nyari">Cari</a>
</div>
    <div id="konten-kepala">
        <div id="judul"><a href="/index.html"><b>Rubrik Informatika</b></a></div>
        <div id="subjudul">Sebuah catatan juang seorang mahasiswa informatika</div>
        <div class="dekor-bulet">
            <div class="circle" style="background-color: rgb(129, 6, 123);"></div>
            <div class="circle" style="background-color: rgb(255, 252, 57);"></div>
            <div class="circle" style="background-color: rgb(223, 35, 35);"></div>
            <div class="circle" style="background-color: rgb(23, 93, 223);"></div>
            <div class="circle" style="background-color: rgb(129, 6, 123);"></div>
        </div>
       <!-- <div class="flex-img">
            <a href="#"><img src="/assets/img/facebook.png"></a>
            <a href="#"><img src="/assets/img/twitter.png"></a>
            <a href="#"><img src="/assets/img/linkedin.png"></a>
        </div>
        -->
    </div>
</div>
