---
layout: default
comments: true
---

<div class="window-post">
    <script>
        function tampilg() {
            if (document.getElementById("carig").style.display=="none") {
                document.getElementById("carig").style.display="block";
                document.getElementsByName("nyarig").innerHTML="Batal Mencari";
            } else {
                document.getElementById("carig").style.display="none";
        
            }
        }
        </script>
    <div class="navig">
        <a href="{{ site.url | absolute_url }}">Beranda</a>
        <a href="/tentang/">Tentang</a>
        <a href="/kategori/">Kategori</a>
        <a style="cursor: pointer;" onclick="tampilg()" name="nyarig">Cari</a>
    </div>
    <div id="carig">
        <script async src="https://cse.google.com/cse.js?cx=017547081945986719728:tyoyjbvdc34"></script>
        <div class="gcse-search"></div>
    </div>
    <div class="grid-col-1"></div>
    <div class="main-post">
        <div id="judul-post">
            <h1>{{ page.title }}</h1>
        </div>
            <div id="dekor-container">
                <div id="warna-1"></div>
                <div id="warna-2"></div>
                <div id="warna-3"></div>
            </div>
        <div id="judul-post">
            <h6>Ryan Abdurohman; {{ page.date | date: "%A" }}, {{ page.date | date_to_long_string }}</h6>
            <h6>{{ page.categories | join: ", "}}</h6>
        </div>
        <div id="isi-post">
            {{ content }}
        </div>
        <div id="koment-pos">
            <div class="fb-comments" data-href="{{ site.url | absolute_url }}" data-width="100%" data-numposts="5" style="font-size: 1.25vw;"></div>
        </div>
    </div>
    <div class="grid-col-2"></div>
    <div class="recent-post">
        <h1>Unggahan Terbaru</h1>
        {% for unggah in site.posts | sort: "date" | reverse | limit: 10 %}
            <ul>
                <a href="{{ unggah.url }}"><li>{{ unggah.title }}</li></a>
            </ul>
        {% endfor %}
    </div>
    <div class="grid-col-3"></div>
</div>